/* Add these styles to your component's CSS file */
.w-full {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  width: 800px;
}

mat-table {
  width: 100%;
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
button{
  margin: 20px;
}
